* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #0084fd;
    height: 80px;
    color: white;
}


.bg-viola {
    min-height: 400px;
    background-color: #9792e4;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.bg-testimonial {
    min-height: 500px;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.bg-benefits {
    min-height: 400px;
    background-color: #9792e4;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

/* Image */

#image {
    width: 50%;
    margin-top: 10%;
}

.circular-image {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circular-image img {
    width: auto;
    height: 100%;
    margin-left: -45px;
   
}

/*Navbar*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-menu {
    list-style-type: none;

    display: none;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
}

.navbar > * {
    padding: 20px;
    flex-basis: 15%;
}

/* Utils */

.row {
    /*display: flex;
    margin-top: 10%;
    flex-wrap: wrap;*/
}

.col {
    flex-basis: calc(100% / 3);
    padding: 20px;
}

.card  {
    min-height: 400px;
    background-color: #b5ddff;
    border-radius: 20px;

    padding: 24px;

    font-size: 20px;
}


.testimonial-card {
    min-height: 400px;
    background-color: #9792e4;
    border-radius: 20px;
    
    padding: 24px;
    
    font-size: 20px;
}

.card-app {
    min-height: 400px;
    background-color: white;
    color: black;
    border-radius: 50px;

    padding: 24px;
    font-size: 20px;
}

.card-content {
    min-height: 400px;
    background-color: white;
    border-radius: 20px;
    
    padding: 24px;
    
    font-size: 20px;
}

/* Footer */

footer {
    min-height: 80px;
    color: white;
    background-color: rgb(73, 73, 73);

}

/*@media screen and (max-width: 576px) {

    .bg-viola {
        text-align: center;
    }
    .bg-testimonial {
        text-align: center;
    }

    .col {
        flex-basis: 50%;
    }

    .row {
        flex-direction: column;
    }

    #image {
        width: 70%;
    }
}*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10%;
    }
    
    .col {
        width: 100%;
        flex-basis: 50%;
    }

    .row > .col {
        padding: 1rem;
    }
    
    .w-2 {
        width: calc(100% / 3);
    }

    .w-1 {
        width: calc(100% / 3 * 2);
    }
 }

@media screen and (min-width: 992px) {
    .container {
        max-width: 970px;
    }

    .col {
        flex-basis: calc(100% / 3);
        padding: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1040px;
    }

    .fa-bars {
        display: none;
    }

    .navbar .navbar-menu {
        display: flex;
        justify-content: space-around;
    }
}